<!DOCTYPE html>
<html>
<head lang="en">
    <title>AngularJS Tutorials</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/style2.css">
    <link rel="stylesheet" href="assets/style3.css">
</head>

<body ng-app="scaryApp" ng-controller="GhostCtrl as ctrl">
<div class="container">
    <div class="page-header">
        <h1>Buuuuuuu!!!
            <small>Are you scared?</small>
        </h1>
    </div>
    <div class="panel-heading text-center">
        <button class="col-md-12 alert alert-info" ng-click="ctrl.change=!ctrl.change">Scare!</button>
    </div>
    <div class="text-center">
        <div class="col-md-4">
            <img class="jdn" ng-if="ctrl.change" src="assets/ghost.jpg">

        </div>
        <div class="col-md-4">
            <img class="dwa" ng-if="ctrl.change" src="assets/ghost2.png">

        </div>
        <div class="col-md-4">
            <img class="trzy" ng-if="ctrl.change" src="assets/ghost3.png">
        </div>
    </div>
</div>
<script src="bower_components/angular/angular.js"></script>
<script src="ghost.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
</body>
</html>
